/**
 * Based on layout from https://adventofcode.com/ 
 * Full credit to Eric Wastl
 */

:root {
  --cl-bg: #001440;
  --cl-font: #d6d6d6;
  --font-main: 'Source Code Pro';
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* 100 / 16 * 10 */
  font-size: 62.5%;
}

/* 768px / 16 = 48em */
@media only screen and (max-width: 48em) {
  html {
    /* 100 / 16 * 9 */
    font-size: 56.25%;
  }
}

/* 425 / 16 = 26.563em */
@media only screen and (max-width: 26.563em) {
  html {
    /* 100 / 16 * 8 */
    font-size: 50%;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background: var(--cl-bg);
  color: var(--cl-font);
  font-family: var(--font-main), monospace, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2;
}

a {
  outline: 0;
}

main {
  width: 100%;
  min-height: calc(100vh - 12rem);
}

@media only screen and (max-width: 425px) {
  main {
    min-height: calc(100vh - 18rem);
  }
}

section {
  /* display: flex; */
  max-width: 117rem;
  height: 100%;
  margin: 0 auto;
  padding: 5rem 1rem;
}

@media only screen and (max-width: 768px) {
  section {
    /* flex-direction: column; */
  }
}

a {
  text-decoration: none;
  color: #0088cc;
}
a:hover,
a:focus {
  color: #a0c1e6;
  cursor: pointer;
}
h1,
h2 {
  font-size: 1em;
  font-weight: normal;
  font-family: 'Space Mono', monospace;
}

.quiet {
  opacity: 0.6;
}

.form-item {
  padding: 2px 0px;
  max-width: 35em;
}

#sidebar {
  width: 200px;
  float: right;
  margin: 0 15px 2em 2em;
}

#sponsor {
  margin-bottom: 2.5em;
}

header h1 a,
header h1 span {
  text-decoration: none;
  color: #0090e6;
  text-shadow: 0 0 2px #0090e6, 0 0 5px #0090e6;
}
header h1 a:hover,
header h1 a:focus {
  color: #97c0ef;
  text-shadow: 0 0 2px #97c0ef, 0 0 5px #97c0ef;
}
header h1.title-event .title-event-wrap {
  opacity: 0.33;
  white-space: pre;
}
header nav {
}
header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
header nav li {
  padding: 0 0.6em;
}
header nav a {
  text-decoration: none;
  outline: none;
}

input[type='text'],
textarea,
select,
input[type='date'] {
  background: transparent;
  color: inherit;
  border: 1px solid #666666;
  background: #17182b;
  padding: 0 2px;
  font-family: inherit;
  font-size: inherit;
  min-width: 15em;
  margin: 0;
}

label {
  white-space: pre;
}

.submit {
  font-weight: bold;
  padding: 6px 0;
}
*::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.silver {
  color: #99b3cc;
}
.gold {
  color: #ffb366;
}
.failure {
  color: #ff0000;
}
.success {
  color: greenyellow;
}
.delete {
  color: #ff0000;
  font-weight: bold;
}

.list-item {
  min-width: 35em;
  max-width: 60em;
  min-height: 1.35em;
  white-space: pre;
}
.list-item:hover,
.list-item:active {
  background-color: #1e1e46;
}
.list-heading {
  white-space: pre;
  padding: 0 0 4px 0;
}
.list-item > .delete {
  cursor: pointer;
}

.sponsor {
  margin: 1em 0;
}

.header {
  /* align-items: center;
  justify-content: stretch;  */
  width: 100%;
  height: 6rem;
}

@media only screen and (max-width: 425px) {
  .header {
    height: auto;
  }
}

.header__wrapper {
  display: flex;
  max-width: 117rem;
  height: 6rem;
  margin: 0 auto;
  padding: 0 1rem;
}

@media only screen and (max-width: 768px) {
  .header__wrapper {
    flex-direction: column;
  }
}

@media only screen and (max-width: 425px) {
  .header__wrapper {
    height: auto;
  }
}

.header__left {
  display: flex;
  align-items: center;
  margin-right: auto;
}

@media only screen and (max-width: 768px) {
  .header__left {
    justify-content: center;
    margin-right: 0;
    margin-top: 2rem;
  }
}

nav ul {
  display: flex;
  flex-direction: row;
  /* flex-direction: column;
  align-items: center; */
}

@media only screen and (max-width: 425px) {
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav ul li:not(:last-child) {
    margin-bottom: 5px;
  }
}

.header__right {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .header__right {
    flex-direction: column;
    align-items: center;
  }
}

.footer {
  width: 100%;
  height: 6rem;
}

.footer__content {
  display: flex;
  align-items: center;

  max-width: 117rem;
  height: 6rem;
  margin: 0 auto;
  padding: 0 1rem;

  text-align: center;
}
