/**
 * Based on layout from https://adventofcode.com/ 
 * Full credit to Eric Wastl
 */

:root {
  --cl-main: #0090e6;
  --cl-secondary: #97c0ef;

  --cl-track-bg: transparent;
  --cl-track-shadow: rgba(153, 179, 204, 0.288);
  --cl-track-thumb: #0078bd;

  --cl-vid-grad-start: rgba(0, 20, 64, 0.039);
  --cl-vid-grad-start: rgba(0, 20, 64, 0.039);
  --cl-vid-grad-end: rgba(0, 20, 64, 0.733);

  --cl-form-border: #666666;
  --cl-form-bg: #17182b;

  --cl-bg: #001440;
  --cl-bg: #000a23;
  --cl-font: #d6d6d6;
  --cl-mission: rgba(30, 30, 70, 0.589);

  --cl-white: #fff;
  --cl-black: #000;
  --cl-green: #adff2f;
  --cl-red: #ff0000;
  --cl-gold: #ffb366;
  --cl-silver: #99b3cc;

  --cl-star: #2f4968;

  --font-main: 'Source Code Pro';
  --font-secondary: 'Space Mono';
}

.failure {
  color: var(--cl-red);
}

.negative {
  background-color: var(--cl-red);
}

.success {
  color: var(--cl-green);
}

.positive {
  background-color: var(--cl-green);
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* 100 / 16 * 10 */
  font-size: 62.5%;
}

/* 768px / 16 = 48em */
@media only screen and (max-width: 48em) {
  html {
    /* 100 / 16 * 9 */
    font-size: 56.25%;
  }
}

/* 425 / 16 = 26.563em */
@media only screen and (max-width: 26.563em) {
  html {
    /* 100 / 16 * 8 */
    font-size: 50%;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background: var(--cl-bg);
  color: var(--cl-font);
  font-family: var(--font-main), monospace, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2;
}

body::-webkit-scrollbar {
  width: 0.8rem;
  background-color: var(--cl-track-bg);
  /* border-radius: 5rem; */
}

body::-webkit-scrollbar-thumb {
  /* background-image: linear-gradient(
    to bottom,
    var(--cl-scrollThumb-bg1),
    var(--cl-scrollThumb-bg2)
  ); */
  background-color: var(--cl-track-thumb);
  /* border-radius: 5rem; */
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px var(--cl-track-shadow);
  box-shadow: inset 0 0 6px var(--cl-track-shadow);
}

::selection {
  background-color: var(--cl-secondary);
  color: var(--cl-white);
}

.container {
  position: relative;
}

.header {
  /* align-items: center;
  justify-content: stretch;  */
  width: 100%;
  height: 6rem;
}

@media only screen and (max-width: 768px) {
  .header {
    height: auto;
  }
}

.header__wrapper {
  display: flex;
  max-width: 117rem;
  height: 6rem;
  margin: 0 auto;
  padding: 0 1rem;
}

@media only screen and (max-width: 768px) {
  .header__wrapper {
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .header__wrapper {
    height: auto;
  }
}

.header__left {
  display: flex;
  align-items: center;
  margin-right: auto;
}

@media only screen and (max-width: 768px) {
  .header__left {
    justify-content: center;
    margin-right: 0;
    margin-top: 2rem;
  }
}

nav ul {
  display: flex;
  flex-direction: row;
  /* flex-direction: column;
  align-items: center; */
}

@media only screen and (max-width: 425px) {
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 10px 0px;
  }
}

.header__right {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .header__right {
    flex-direction: column;
    align-items: center;
  }
  .header__right h1 {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 425px) {
  .header__right h1 {
    margin-bottom: 0px;
  }
}

main {
  width: 100%;
  min-height: calc(100vh - 12rem);
}

@media only screen and (max-width: 425px) {
  main {
    min-height: calc(100vh - 18rem);
  }
}

.content {
  display: flex;
  max-width: 117rem;
  height: 100%;
  margin: 0 auto;
  padding: 5rem 1rem;
}

@media only screen and (max-width: 634px) {
  .content {
    flex-direction: column;
  }
}

section {
  flex: 4;
  padding-right: 20px;
}

@media only screen and (max-width: 634px) {
  section {
    order: 2;
    text-align: center;
    padding-right: 0px;
  }
}

.sidebar {
  flex: 1;
}

@media only screen and (max-width: 634px) {
  .sidebar {
    margin-bottom: 10px;
    order: 1;
    text-align: center;
  }
}

.sidebar__top {
  opacity: 0.6;
  margin-bottom: 10px;
}

.sidebar__bot {
  margin-bottom: 10px;
}

#launch-success div:not(:last-child) {
  margin-bottom: 10px;
}

/* .launch {
}  */

.launch__schedule {
  margin-bottom: 10px;
}

.launch__measures {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.launch__measures--p {
  margin-bottom: 10px;
}

.launch__measures--ul {
  /* align-self: center; */
  list-style: none;
}

.launch__measures--li {
  display: flex;
  /* justify-content: center; */
}

.launch__measures--li span {
  flex: 1;
  display: flex;
  justify-content: center;
  /* max-width: 120px; */
  /* margin: 0 5px; */
}

.launch__measures--li span:nth-child(1) {
  flex: 1;
}

.launch__measures--li span:nth-child(2) {
  flex: 1;
}

.launch__measures--li span:nth-child(3) {
  flex: 2;
}

.launch__measures--li span:nth-child(4) {
  flex: 1;
}

.launch__measures--li span:nth-child(5) {
  flex: 1;
}

.launch__form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__element {
  display: flex;
}

@media only screen and (max-width: 634px) {
  .form__element {
    flex-direction: column;
  }
}

.form__element:not(:last-child) {
  margin-bottom: 6px;
}

.form__element--label {
  flex: 2;
}

@media only screen and (max-width: 634px) {
  .form__element--label {
    margin-bottom: 4px;
  }
}

.form__element--input {
  flex: 3;
}

@media only screen and (max-width: 634px) {
  .form__element--input {
    width: 100%;
  }
}

.form__element--submit {
  align-self: flex-start;

  cursor: pointer;
  /* font-weight: bold; */
  border: none;
  outline: none;
  background-color: transparent;

  font-family: var(--font-main);
  font-size: 1.8rem;
  color: var(--cl-main);
  text-shadow: 0 0 2px var(--cl-main), 0 0 5px var(--cl-main);
  transition: text-shadow 0.3s, color 0.3s;
}

@media only screen and (max-width: 634px) {
  .form__element--submit {
    align-self: center;
  }
}

.form__element--submit:hover {
  color: var(--cl-secondary);
  text-shadow: 0 0 2px var(--cl-secondary), 0 0 5px var(--cl-secondary);
}

/* .upcoming {
} */

.upcoming__top {
  margin-bottom: 10px;
}

.upcoming__mid {
  margin-bottom: 10px;
}

.upcoming__mid--cross {
  color: var(--cl-red);
}

.upcoming__bot {
  display: flex;
  flex-direction: column;

  height: 70vh;
  overflow-y: scroll;
}

.upcoming__bot::-webkit-scrollbar {
  width: 0.8rem;
  background-color: var(--cl-track-bg);
  /* border-radius: 5rem; */
}

.upcoming__bot::-webkit-scrollbar-thumb {
  /* background-image: linear-gradient(
    to bottom,
    var(--cl-scrollThumb-bg1),
    var(--cl-scrollThumb-bg2)
  ); */
  background-color: var(--cl-track-thumb);
  /* border-radius: 5rem; */
}

.upcoming__bot::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px var(--cl-track-shadow);
  box-shadow: inset 0 0 6px var(--cl-track-shadow);
}

.upcoming__bot div:not(:last-child) {
  margin-bottom: 6px;
}

.upcoming__bot div:not(:first-child):hover {
  background-color: var(--cl-mission);
}

.upcoming__bot--head {
  display: flex;
  color: var(--cl-main);
}

.upcoming__bot--head span:nth-child(1) {
  flex: 1;
}

.upcoming__bot--head span:nth-child(2) {
  flex: 1;
}

.upcoming__bot--head span:nth-child(3) {
  flex: 3;
}

.upcoming__bot--head span:nth-child(4) {
  flex: 4;
}

.upcoming__bot--head span:nth-child(5) {
  flex: 4;
}

.upcoming__bot--head span:nth-child(6) {
  flex: 3;
}

.upcoming__bot--head span:not(:last-child) {
  padding-right: 6px;
}

.upcoming__bot--line {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.upcoming__bot--item {
  display: flex;
  align-items: center;
}

.upcoming__bot--item span:nth-child(1) {
  flex: 1;

  cursor: pointer;
  color: var(--cl-red);
  transition: 0.3s color;
}

.upcoming__bot--item span:nth-child(1):hover {
  flex: 1;

  cursor: pointer;
  color: var(--cl-secondary);
}

.upcoming__bot--item span:nth-child(2) {
  flex: 1;
}

.upcoming__bot--item span:nth-child(3) {
  flex: 3;
  color: var(--cl-silver);
}

.upcoming__bot--item span:nth-child(4) {
  flex: 4;
}

.upcoming__bot--item span:nth-child(5) {
  flex: 4;
  color: var(--cl-silver);
}

.upcoming__bot--item span:nth-child(6) {
  flex: 3;
  color: var(--cl-gold);
}

.upcoming__bot--item span:not(:last-child) {
  padding-right: 6px;
}

.upcoming__bot--desc {
  text-overflow: ellipsis;
  overflow: hidden;
  /* white-space: nowrap; */
  /* word-break: break-all; */
}

/* .history {
} */

.history__top {
  margin-bottom: 10px;
}

.history__bot {
  height: 70vh;
  overflow-y: scroll;
}

.history__bot::-webkit-scrollbar {
  width: 0.8rem;
  background-color: var(--cl-track-bg);
  /* border-radius: 5rem; */
}

.history__bot::-webkit-scrollbar-thumb {
  /* background-image: linear-gradient(
    to bottom,
    var(--cl-scrollThumb-bg1),
    var(--cl-scrollThumb-bg2)
  ); */
  background-color: var(--cl-track-thumb);
  /* border-radius: 5rem; */
}

.history__bot::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px var(--cl-track-shadow);
  box-shadow: inset 0 0 6px var(--cl-track-shadow);
}

.history__bot div:not(:first-child):hover {
  background-color: var(--cl-mission);
}

.history__bot--head {
  display: flex;
  color: var(--cl-main);
  margin-bottom: 6px;
}

.history__bot--head span:nth-child(1) {
  flex: 1;
}

.history__bot--head span:nth-child(2) {
  flex: 1;
}

.history__bot--head span:nth-child(3) {
  flex: 3;
}

.history__bot--head span:nth-child(4) {
  flex: 4;
}

.history__bot--head span:nth-child(5) {
  flex: 4;
}

.history__bot--head span:nth-child(6) {
  flex: 3;
}

.history__bot--head span:not(:last-child) {
  padding-right: 6px;
}

.history__bot--line {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.history__bot--item {
  display: flex;
  margin-bottom: 6px;
  align-items: center;
}

.history__bot--item span:nth-child(1) {
  flex: 1;
}

.history__bot--item span:nth-child(2) {
  flex: 1;
}

.history__bot--item span:nth-child(3) {
  color: var(--cl-silver);
  flex: 3;
}

.history__bot--item span:nth-child(4) {
  flex: 4;
}

.history__bot--item span:nth-child(5) {
  color: var(--cl-silver);
  flex: 4;
}

.history__bot--item span:nth-child(6) {
  color: var(--cl-gold);
  flex: 3;
}

.history__bot--item span:not(:last-child) {
  padding-right: 6px;
}

.history__bot--desc {
  text-overflow: ellipsis;
  overflow: hidden;
  /* white-space: nowrap; */
}

.status-square {
  display: inline-block;
  width: 10px;
  height: 10px;
}

.footer {
  width: 100%;
  height: 6rem;
}

@media only screen and (max-width: 425px) {
  .footer {
    height: auto;
    padding: 15px 0px;
  }
}

.footer__content {
  display: flex;
  align-items: center;

  max-width: 117rem;
  height: 6rem;
  margin: 0 auto;
  padding: 0 1rem;

  text-align: center;
  justify-content: center;
}

@media only screen and (max-width: 425px) {
  .footer__content {
    height: auto;
  }
}

a {
  text-decoration: none;
  color: var(--cl-main);
  transition: color 0.3s;
}

a:hover,
a:focus {
  color: var(--cl-secondary);
  cursor: pointer;
}

h1,
h2 {
  font-size: 1em;
  font-weight: normal;
  font-family: var(--font-secondary), monospace;
}

header h1 a,
header h1 span {
  text-decoration: none;
  color: var(--cl-main);
  text-shadow: 0 0 2px var(--cl-main), 0 0 5px var(--cl-main);
}

header h1 a:hover,
header h1 a:focus {
  color: var(--cl-secondary);
  text-shadow: 0 0 2px var(--cl-secondary), 0 0 5px var(--cl-secondary);
}

header h1.title-event .title-event-wrap {
  opacity: 0.33;
}

header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header nav li {
  padding: 0 0.6em;
}

header nav a {
  text-decoration: none;
  outline: none;
}

label {
  white-space: pre;
}

*::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[type='text'],
textarea,
select,
input[type='date'] {
  background: var(--cl-form-bg);
  border: 1px solid var(--cl-form-border);

  color: var(--cl-font);
  font-family: var(--font-main);
  font-size: 1.6rem;

  margin: 0;
  padding: 0 2px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading__wrapper {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loading__inner {
  position: absolute;
  border: 4px solid var(--cl-main);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loading__wrapper div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.video {
  position: absolute;
  left: 0px;
  top: 0px;
  /* height: 100%; */
  height: 100vh;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(
    to bottom,
    var(--cl-vid-grad-start),
    var(--cl-vid-grad-end)
  );
}

.video__element {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.star {
  position: absolute;
  background-color: var(--cl-star);
  border-radius: 50%;
  box-shadow: 0 0 2px var(--cl-secondary), 0 0 5px var(--cl-secondary);
}
